# Node dependencies
node_modules/

# Build output
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Mac / Linux system files
.DS_Store

# VSCode / IDE files
.vscode/
.idea/

# Terraform local files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
# Docker files
docker-compose.override.yml*.tfvars
terraform.tfstate
.terraform/

